<launch>
  <!-- Stopline Detection Node -->
  <node name="stopline_detection_node" pkg="stopline_pkg" type="stopline_detection_node.py" output="screen">
    <!-- 이미지 크롭 파라미터 -->
    <param name="crop_top" value="280" />

    <!-- 정지선 감지 파라미터 -->
    <param name="down_hist_start_line" value="0" />
    <param name="stopline_threshold" value="5" />
    <param name="count_threshold" value="5" />
    <rosparam param="cooldown_durations">[3.0, 10.0, 5.0, 15.0, 1.5, 3.0]</rosparam>
    <param name="show_debug_image" value="true" />

    <!-- 히스토그램 임계값 파라미터 -->
    <param name="histogram_threshold" value="200" />

    <!-- Otsu 임계값 조정 파라미터 -->
    <param name="otsu_threshold_offset" value="50" />

    <!-- 노란색 정지선 감지 파라미터 (state 9용) -->
    <rosparam param="yellow_hsv_lower">[0, 40, 50]</rosparam>
    <rosparam param="yellow_hsv_upper">[26, 110, 255]</rosparam>
    <param name="yellow_state" value="9" />
    <param name="log_level" value="debug"/>
  </node>
</launch>
